.DS_Store
auto/
christian_kroer_cv.aux
christian_kroer_cv.bbl
christian_kroer_cv.bcf
christian_kroer_cv.blg
christian_kroer_cv.fdb_latexmk
christian_kroer_cv.fls
christian_kroer_cv.log
christian_kroer_cv.out
christian_kroer_cv.pdf
christian_kroer_cv.run.xml
christian_kroer_cv.synctex.gz
*.aux
*.bbl
*.blg
*.run.xml
*undo-tree*
